$margin: 15px;

@mixin size($w,$h){
    width: $w;
    height:$h;
}

@mixin cards {
    margin: $margin;
    padding:15px;
    display:flex;
    @include size (350px, 300px);
    align-items: end;
}

.logements-container{
    margin:$margin;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    
}
.logement-card{
    @include cards;

    img{
        object-fit: cover;
        display: flex;
        justify-content: space-around;
        @include size (350px, 300px);
        z-index: 0;
        position:absolute;
        border-radius: 20px;
        
    }
    figcaption{
        z-index: 1;
        position: absolute;
        color:white;
        padding:20px;
        font-size: 12px;
    }
}