$margin: 20px;

.logements-container{
    margin:$margin;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.logement-card{
    margin: $margin;
    display:flex;
    width:20%;
    height: 20%;

    img{
        object-fit: cover;
        margin: $margin;
        width:100%;
        height: 20%;
        z-index: 0;
        position:absolute;
    }
    figcaption{
        z-index: 1;
        position: absolute;
    }
}