@import "banner";
@import "cards";
@import "error";

$police: Montserrat;
$color-main: #FF6060;

:root {
    font-family: $police;
  }
body{
    margin:0px;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 40px;
  
  .header-nav a{
    text-decoration: none;
    margin:20px;
  }
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 130px;
    margin:0px;

    img{
        width:100px;
        margin-top: 20px;
    }
    p{
        font-size: 10px;
        color: white;
    }
}
